header {
    background: linear-gradient(90deg, #2b2b2b, #1a1a1a);
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 3px solid #444;
    color: gold;
}
body {
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9ua2V5JTIwZmFjZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60') no-repeat center center fixed;
    background-size: cover;
    color:black;
    line-height: 1.6;
}
main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}
a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}
.box {
    background-color: grey;
    border: 2px solid black;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
}
div.flex-box {
     display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #ffcc00, #ff6699, #66ccff);
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 10px 
}
div.flex-box div {
    background: linear-gradient(90deg, #ffcc00, #ff6699, #66ccff);
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
}
.profile-card {
      padding: 24px 28px;
      width: 320px;
      background: linear-gradient(145deg, gold 0%, yellow 40%, orange 100%);
      color: black;
      border-radius: 18px;

      border: 3px double purple;
      box-shadow:
        0 0 0 2px rgba(255, 215, 128, 0.4),
        0 18px 35px rgba(0, 0, 0, 0.7);

      position: relative;
      overflow: hidden;
    }